<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/myScripts.js}"></script>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"
          th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="container game-table-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="blocks-container">
                    <div th:each="gameGrid : ${grid}" class="table-block">
                        <table class="table table-bordered">
                            <tr th:each="words : ${gameGrid}">
                                <td th:each="word : ${words}">
                                    <span th:each="ch : ${word}">
                                        <span th:text="${ch}"></span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="clears"></div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>